<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PokedexV2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C21494E2BC9293F004F40EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C21495D2BC94168004F40EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4766D92B9FA367007B9395</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4766EF2B9FA369007B9395</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4766F92B9FA369007B9395</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
